<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SQLiteDBPath" value="~/App_Data/SQDiagram.sqlite"/>
    <add key="SqlServerConn" value="Server=(localdb)\MSSQLLocalDB;Initial Catalog=seaquail;Integrated Security=True"/>
    <add key="WelcomeDiagram Email" value="fakeemail@gmail.com"/>
    <add key="WelcomeDiagram Name" value="Welcome Diagram"/>
  </appSettings>
  <connectionStrings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="SeaQuail_DiagramTool"/>
        <add namespace="SeaQuail_DiagramTool.Model"/>
        <add namespace="System.Collections.Generic"/>
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="*" path="*.dg" type="SeaQuail_DiagramTool.DiagramCallHandler, SeaQuail_DiagramTool"/>
    </httpHandlers>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="SeaQuailDiagramTool" verb="*" path="*.dg" type="SeaQuail_DiagramTool.DiagramCallHandler, SeaQuail_DiagramTool"/>
    </handlers>
  </system.webServer>
</configuration>