<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SeaQuail_Example.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SeaQuail_Example.Default" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SeaQuail_Example.Settings>
            <setting name="SQLServerConn" serializeAs="String">
                <value>data source=KILGORETROUT-PC\SQLEXPRESS;initial catalog=DocMngr;Trusted_Connection=True;</value>
            </setting>
            <setting name="MySQLConn" serializeAs="String">
                <value>Server=localhost;Database=test;Uid=root;Pwd=root;</value>
            </setting>
        </SeaQuail_Example.Settings>
        <SeaQuail_Example.Default>
            <setting name="SQLServerConn" serializeAs="String">
                <value>data source=KILGORETROUT-PC\SQLEXPRESS;initial catalog=SeaQuailTest;Trusted_Connection=True;</value>
            </setting>
            <setting name="MySQLConn" serializeAs="String">
                <value />
            </setting>
        </SeaQuail_Example.Default>
    </userSettings>
</configuration>