<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SeaQuail_Test.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SeaQuail_Test.Settings>
            <setting name="SQLServerConn" serializeAs="String">
                <value>data source=KILGORETROUT-PC\SQLEXPRESS;initial catalog=DocMngr;Trusted_Connection=True;</value>
            </setting>
            <setting name="MySQLConn" serializeAs="String">
                <value>Server=localhost;Database=test;Uid=root;Pwd=root;</value>
            </setting>
            <setting name="SQLiteConn" serializeAs="String">
                <value>data source=C:\dev-svn2\SQLBitch\MSBDatabase\SeaQuail_Test\Database\SQLiteTest</value>
            </setting>
        </SeaQuail_Test.Settings>
    </userSettings>
</configuration>