<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss}|${level}|${message}"/>
		<target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
			<target xsi:type="File" fileName="Logs/TestLog.txt"
					ArchiveFileName="Logs/Archive/TestLog.txt" ArchiveAboveSize="1048576"
					layout="${date:format=yyyy-MM-dd HH\:mm\:ss}|${level}|${message}" />
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="console,file"/>
	</rules>
</nlog>